@font-face {
	font-family: 'Damien';
	src: url('fonts/DamienTypewriter.otf') format('opentype');
}
    
@font-face {
    font-family: 'Kelly Slab';
    src: url('fonts/KellySlab-Regular.otf') format('opentype');
}
    
@font-face {
   font-family: 'Oregano';
   src: url('fonts/Oregano-Regular.otf') format('opentype');
}

p{
    color: #FFF;
    font-family: "Kelly Slab", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
}

h4{
color: #FFF;
font-family: "Kelly Slab", sans-serif;
font-size: 40px;
letter-spacing: 2px;
word-spacing: 4px;
text-align: center;
}

.reply{
    color: #FFF;
    font-family: "Kelly Slab", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
}

.formCont{
    position: relative;
    width: 600px;
    display: block;
}

input[type=text], input[type=password]{
    background: rgba(0,0,0,0.3);
    width: 60%!important;
    padding: 4px 16px!important;
    margin: 8px!important;
    font-family: "Damien", serif!important;
    font-size: 18px!important;
    letter-spacing: 1px!important;
    color: #F1CD08!important;
    display: inline-block!important;
    border: 1px solid #000!important;
    border-radius: 1px!important;
    text-align: center!important;
    transition-duration: 0.6s!important;
}

input[type=text]:hover, input[type=password]:hover{
    color: #FFF!important;
    border: 1px solid #F1CD08!important;
}

input[type=submit]{
    background-color: transparent;
    color: #F1CE0B;//#A9FF2D;
    border: transparent;
    border-radius: 3px;
    font-family: "Oregano", serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 18px;
    margin: 4px 0px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition-duration: 0.6s;
}

#login, #signup, #upload{
    width: 60%;
}

input[type=submit]:hover{
    background-color: #F1CE0B;//#A9FF2D;
    /*border: 1px solid #D1C117;*/
    color: rgba(10,10,100,1.0);
}


::-webkit-input-placeholder{
    color: #F1CD08;
}

::-moz-placeholder{
    color: #F1CD08;
}

input:hover::-webkit-input-placeholder{
    color: #FFF;
}

input:hover::-moz-placeholder{
    color: #FFF;
}
/*
#imgFile{
	position: relative;
	overflow: hidden;
}

#imgText{
	background: rgba(0,0,0,0.3);
    padding: 4px 16px!important;
    margin: 8px!important;
    font-family: "Damien", serif!important;
    font-size: 18px!important;
    letter-spacing: 1px!important;
    color: #F1CD08!important;
    display: inline-block!important;
    border: 1px solid #000!important;
    border-radius: 1px!important;
    text-align: center!important;
    transition-duration: 0.6s!important;
	display: inline-block;
	left: 0;
}*/

input[type=file]::-webkit-file-upload-button{
	background: rgba(0,0,0,0.3);
    width: 40%!important;
    padding: 4px 0px!important;
    margin: 0px!important;
    font-family: "Damien", serif!important;
    font-size: 18px!important;
    letter-spacing: 1px!important;
    color: #F1CD08!important;
    display: inline-block!important;
    border: 2px solid #000!important;
    border-radius: 16px!important;
    text-align: center!important;
    transition-duration: 0.6s!important;
	position: relative;
}

input[type=file]{
	color: #F1CD08!important;
	font-family: "Damien", serif!important;
    font-size: 18px!important;
    letter-spacing: 1px!important;
	width: 60%;
}



input[type=file]::-webkit-file-upload-button:hover{
	color: #FFF!important;
}